html, body {

    height: 100%;
    background-color: #e8f5e9; /* Soft green background as fallback */
    background-image: url('background-img.avif'); /* Background image */
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}

header {
    background: linear-gradient(to right, #56CCF2, #2F80ED); /* Gradient background for header */
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    max-width: 500px;
    width: 100%;
}

.logo-container {
    text-align: center;
    margin: 20px 0;
}

.logo {
    max-width: 100%; /* Limit logo size */
    max-height: 400px; /* Adjust max height */
    width: auto; /* Adjust width automatically */
    height: auto; /* Adjust height automatically */
}

